@using WebAppTesteEntrevista01.Enums;
@model Usuario

@{
    ViewData["Title"] = "Editar Usuário";
}

<div class="text-center">
    <h1 class="display-4">Editar Usuário</h1>
</div>

<form asp-controller="Usuarios" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label for="Nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control"  placeholder="Digite o nome do usuário">
        @Html.ValidationMessageFor(v => v.Nome)
    </div>

    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite o email do usuário">
        @Html.ValidationMessageFor(v => v.Email)
    </div>

    <div class="mb-3">
        <label for="Login" class="form-label">Login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="Digite o login do usuário">
        @Html.ValidationMessageFor(v => v.Login)
    </div>

    <div class="mb-3">
        <label for="Perfil" class="form-label">Perfil</label>
        <select asp-for="Perfil" class="form-control">
            <option value="">Selecione</option>
            <option value="@PerfilEnums.Admin">Administrador</option>
            <option value="@PerfilEnums.Entregador">Entregador</option>
        </select>
        @Html.ValidationMessageFor(v => v.Perfil)
    </div>

    <div class="mb-3">
        <label for="Senha" class="form-label">Senha</label>
        <input type="text" asp-for="Senha" class="form-control" placeholder="Digite a senha do usuário">
        @Html.ValidationMessageFor(v => v.Senha)
    </div>

    <button type="submit" class="btn btn-primary">Editar</button>
    <a class="btn btn-secondary" asp-controller="Usuarios" asp-action="Index" role="button">Voltar</a>
</form>